body {
	--theme-color: #08c;
	--theme-color-hover-bg: rgba(0, 136, 204, 0.25);
	--theme-color-hover-a: #005580;
	--theme-color-disabled: #4e4e4e;
	--theme-color-disabled-bg: #f0f0f0;
	--theme-color-selection: black;
	--theme-color-selection-bg: #b3e5fc;
	--theme-color-input-bg: #f1f3f4;
	--theme-color-input-hover-bg: #e8eaed;
	--theme-color-input-placeholder: #555555;
	--theme-color-select-fg: #202124;
	--theme-color-select-foucs-shadow: rgba(26, 115, 232, 0.4);
}

*::-moz-focus-inner {
	border: none;
}

a {
	color: var(--theme-color);
	text-decoration: none;
	outline: 0;

	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	transition: color .3s;
}

a:hover {
	color: var(--theme-color-hover-a);
	text-decoration: none;
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

a:focus {
	outline: 0;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

::selection {
	background: var(--theme-color-selection-bg);
	color: var(--theme-color-selection);
}

::-moz-selection {
	background: var(--theme-color-selection-bg);
	color: var(--theme-color-selection);
}

pre {
	font-family: 'Roboto Mono', 'DejaVu Sans Mono', 'Noto Mono', 'Noto Sans Mono', SFMono-Regular, Consolas, 'Lucida Console', Courier, monospace;
	font-size: .8em;
	margin: 6px 0;
}

textarea,
input[type=password],
input[type=text],
input[type=number],
input:not([type]) {
	padding: 10px 16px;
	font-size: 16px;
	border: none;
	border-radius: 999px;
	background-color: var(--theme-color-input-bg);
}

textarea:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=number]:focus,
input:not([type]):focus {
	outline: 0;
	border: none;
	border-radius: 999px;
	background-color: var(--theme-color-input-hover-bg);
}

input[type=password]::placeholder,
input[type=text]::placeholder,
input[type=number]::placeholder,
input:not([type])::placeholder {
	color: var(--theme-color-input-placeholder);
}

textarea,
textarea:focus {
	font-family: sans-serif;
	resize: none;
	border-radius: 24px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: inline-block;
	text-align: left;
	box-sizing: border-box;
}

.checkbox_label::before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	box-sizing: border-box;
	transition: mask ease-in .2s;
	transition: -webkit-mask ease-in .2s;
	background-color: var(--theme-color);
	--mask: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDhjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTkgNXYxNEg1VjVoMTRtMC0ySDVjLTEuMS4wLTIgLjktMiAydjE0YzAgMS4xLjkgMiAyIDJoMTRjMS4xLjAgMi0uOSAyLTJWNWMwLTEuMS0uOS0yLTItMnoiLz48L3N2Zz4K);
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

input[type="checkbox"]:checked + label::before {
	background-color: var(--theme-color);
	--mask: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDhjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTkgM0g1Yy0xLjExLjAtMiAuOS0yIDJ2MTRjMCAxLjEuODkgMiAyIDJoMTRjMS4xMS4wIDItLjkgMi0yVjVjMC0xLjEtLjg5LTItMi0yem0tOSAxNC01LTUgMS40MS0xLjQxTDEwIDE0LjE3bDcuNTktNy41OUwxOSA4bC05IDl6Ii8+PC9zdmc+Cg==);
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

select::-moz-focus-inner {
	border: none;
}

select {
	margin: 0 4px;
	-webkit-appearance: none;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAyNCAxMiIgZmlsbD0iIzVGNjM2OCI+PGc+PHBhdGggZD0iTSAwIDAgTCAyNCAwIEwgMTIgMTIgeiIvPjwvZz48L3N2Zz4K) calc(100% - 8px) center no-repeat;
	background-color: var(--theme-color-input-bg);
	background-size: 10px;
	border: none;
	border-radius: 4px;
	color: var(--theme-color-select-fg);
	cursor: pointer;
	max-width: 100%;
	outline: none;
	padding-bottom: 6px;

	padding-inline-end: 21px;
	padding-inline-start: 8px;
	padding-top: 6px;
	min-width: 200px;
}

select option,
select optgroup {
	background-color: white;
}

select[disabled] {
	pointer-events: none;
}

select:focus {
	box-shadow: 0 0 0 2px var(--theme-color-select-foucs-shadow);
}

select:active {
	box-shadow: none;
}


.btnFlat {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	position: relative;
	font-size: 1em;
	padding: 6px 14px;

	overflow: hidden;

	border-width: 0;
	outline: none;

	background-color: rgba(0, 0, 0, 0);
	color: var(--theme-color);
	font-weight: bold;

	transition: background-color .3s;
}

.btnFlat:hover {
	background-color: var(--theme-color-hover-bg);
}

.btnFlat:disabled {
	color: var(--theme-color-disabled);
	background-color: var(--theme-color-disabled-bg);
}

.btnFlat:before {
	content: "";

	position: absolute;
	top: 50%;
	left: 50%;

	display: block;
	width: 0;
	padding-top: 0;

	border-radius: 100%;

	background-color: var(--theme-color-hover-bg);

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btnFlat:active:before {
	width: 120%;
	padding-top: 120%;

	transition: width .2s ease-out, padding-top .2s ease-out;
}

.btnFlat,
.btnFlat:before,
.btnFlat:after {
	box-sizing: border-box;
}

.btnFlat > * {
	position: relative;
}

.progressbarbg {
	margin: 8px 0;
	background: var(--theme-color-input-bg);
	height: 8px;
}

.progressbar {
	background: var(--theme-color);
	height: 8px;
}

.menu_back {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}

.menu_wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
}

.menu {
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	background-color: #fff;
	max-height: calc(100vh - 64px);
	max-width: 280px;
	min-width: 200px;
	padding: 8px 0;
	position: fixed;
	z-index: 2;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.menu * {
	flex-shrink: 0;
}

.menu button::-moz-focus-inner {
	border: none;
}

.menu button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;

	padding: 8px 10px;
	text-align: left;
	text-decoration: none;
	width: 100%;
	border: 0px;
	border-radius: 0px;
	font-size: 1em;
	background-color: white;
	color: black;
	outline: none;
	font-weight: normal;
	transition: background-color .3s;

	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.menu button:hover {
	background-color: #ebebeb;
	color: black;
	outline: none;
}

.menu button:active {
	background-color: #d4d4d4;
	color: black;
	outline: none;
}

.menu button:focus {
	padding: 8px 10px;
	outline: none;
	border: 0px;
}

/* https://codepen.io/ConAntonakos/pen/ryMaOX?editors=1111 */
.circular {
	height: 48px;
	width: 48px;
	overflow: hidden;
}

.circular svg {
	animation: rotate 2s linear infinite;
	height: 48px;
	width: 48px;
	position: relative;
}

.circular circle {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
	stroke: var(--theme-color);
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}

.hide {
	display: none !important;
}

.card {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
	border: 1px solid #e8e8e8;
	border-radius: 8px;
	background: white;
	overflow: hidden;
}

.flexRowCenter {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}

.flexColumn {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	flex-flow: column;
}

.flexGrow {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	flex-grow: 1;
}

.divline {
	background-color: #ebebeb;
	height: 1px;
	margin: 10px 0;
}

.tips {
	font-size: .9em;
	color: var(--theme-color-disabled);
}

.notify_theme_info {
	--notify-background-color: rgba(0, 136, 204, 0.1);
	--notify-color: #08c;
}

.notify_theme_warning {
	--notify-background-color: rgba(239, 108, 0, 0.1);
	--notify-color: #ef6c00;

	--theme-color-hover-bg: rgba(239, 108, 0, 0.25);
	--theme-color: #ef6c00;
}

.notify_theme_error {
	--notify-background-color: rgba(255, 0, 0, 0.1);
	--notify-color: #f00;

	--theme-color-hover-bg: rgba(255, 0, 0, 0.25);
	--theme-color: #f00;
}

.notify {
	margin-top: 12px;
	background-color: var(--notify-background-color);
}

.notify .notify_main {
	padding: 12px;
	padding-bottom: 0;
}

.notify i {
	font-size: 1.2em;
	margin-right: 8px;
}

.notify .notify_title {
	color: var(--notify-color);
	margin-bottom: 8px;
}

.notify .notify_title_text {
	font-weight: bold;
}

.notify .notify_text {
	color: var(--notify-color);
	margin-left: 26px;
}

.notify .notify_btns {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	justify-content: flex-end;
	padding: 6px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadein {
	animation: .3s fadeIn forwards;
}
